---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$color-red:         #dc322f;
$color-green-dark:  #1e3f20;
$color-green-light: #345830;
$color-blue-dark:   #273043;
$color-blue-light:  #133c55;

$header-height: 170px;

@import "holygrail";

html {
  background-color: #FFFFFF;
}

body,
button,
input,
select,
textarea {
  font-family: $base-font-family;
}

.hidden {
  padding: 0;
  opacity: 0;
}

.hero-content {
  transition: padding 0.5s ease-out;
}

/*.HolyGrail-nav, .HolyGrail-ads {
  background-color: $color-green-dark;
}*/

.HolyGrail-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-top: 5px;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: $color-blue-dark;
  background-color: $color-blue-light;
}

.HolyGrail-header a {
  color: #FFFFFF;
}

.HolyGrail-body {
  margin-top: $header-height;
}

.HolyGrail-footer {
  background-color: $color-blue-light;
}
