<header class="HolyGrail-header hero">
  <div class="hero-header">
    <a class="site-title" href="{{ site.baseurl }}/">Scala on Android</a>
  </div>
  <div class="hero-content">
    <a class="site-logo" href="{{ site.baseurl }}/">Scala on Android Logo</a>
  </div>
  <div class="hero-footer">
    <nav class="tabs is-boxed">
      <div class="container">
        <ul>
          <li class="is-active"><a href="#">Introduction</a></li>
          <li><a href="#">Getting Started</a></li>
          <li><a href="#">Overview</a></li>
          <li><a href="#">Tutorial</a></li>
          <li><a href="#">Contribute</a></li>
          <li><a href="#">Community</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
