<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <!--<li class="header">MAIN NAVIGATION</li>-->
      <!--<li>
        <a href="/">
          <i class="fa fa-home"></i> <span>Home</span>
        </a>
      </li>-->
      <li>
        <a href="/quickstart">
          <i class="fa fa-paper-plane"></i> <span>Quickstart</span>
        </a>
      </li>
      <li>
        <a href="/setting_up_environment">
          <i class="fa fa-wrench"></i> <span>Setup</span>
        </a>
      </li>
      <li>
        <a href="/examples">
          <i class="fa fa-map"></i> <span>Examples</span>
        </a>
      </li>
      <li>
        <a href="/testing">
          <i class="fa fa-gear"></i> <span>Building</span>
        </a>
      </li>
      <li>
        <a href="/testing">
          <i class="fa fa-check-square-o"></i> <span>Testing</span>
        </a>
      </li>
      <li>
        <a href="/testing">
          <i class="fa fa-bug"></i> <span>Debugging</span>
        </a>
      </li>
      <li>
        <a href="/packaging">
          <i class="fa fa-cubes"></i> <span>Packaging</span>
        </a>
      </li>
      <li>
        <a href="/testing">
          <i class="fa fa-truck"></i> <span>Deployment</span>
        </a>
      </li>
      <li>
        <a href="/options">
          <i class="fa fa-cogs"></i> <span>Options</span>
        </a>
      </li>
      <li>
        <a href="/tips_and_tricks">
          <i class="fa fa-th"></i> <span>Tips and tricks</span>
        </a>
      </li>
      <li>
        <a href="/release_notes">
          <i class="fa fa-calendar"></i> <span>Release notes</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
