---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'fonts';

// Our variables
$base-font-family: Montserrat, sans-serif;
$base-font-size:   12px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

body {
  font-family: $base-font-family;
  font-size:   $base-font-size;
  font-weight: $base-font-weight;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $base-font-family;
  font-weight: 300;
}

h1, h2, h3 { 
  font-weight: 200;
}

h1:first-child {
  margin-top: 0;
}

.main-header .logo {
  font-family: $base-font-family;
  padding: 0 10px;
}

.navbar-custom-menu > .navbar-nav > li > a {
  padding: 0;
}

.sidebar-menu > li > a > .fa {
  font-size: 130%;
  vertical-align: top;
  width: 30px;
}

.logo-lg {
  margin-right: 5px;
}

.sidebar-logo {
  margin-right: 5px;
}

b, strong {
  font-weight: 500;
}

.bolder {
  font-weight: 500;
}
.thinner {
  font-weight: 300;
}
