---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'fonts';

// Our variables
$heading-font-family: Montserrat, sans-serif;
$heading-font-size:   13px;
$heading-font-weight: 300;

$base-font-family: Roboto, sans-serif;
$base-font-size:   13px;
$base-font-weight: 400;

$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

body {
  font-family: $base-font-family;
  font-size:   $base-font-size;
  font-weight: $base-font-weight;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family;
  font-weight: 300;
}

h1, h2, h3 { 
  font-weight: 200;
}

h1:first-child {
  margin-top: 0;
}

.sidebar, .success, .intro-text {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}

.main-header .logo {
  font-family: $heading-font-family;
  padding: 0 10px;
}

.navbar-custom-menu > .navbar-nav > li > a {
  padding: 0;
}

.sidebar-menu > li > a {
  padding: 12px 5px 12px 13px;
}

.sidebar-menu > li > a > .fa {
  font-size: 130%;
  vertical-align: top;
  width: 30px;
}

.sidebar-menu > li.active > a {
  background-color: #1a2226 !important;
}

.logo-lg {
  margin-right: 5px;
}

.sidebar-logo {
  margin-right: 5px;
}

b, strong {
  font-weight: 500;
}

.bolder {
  font-weight: 500;
}
.thinner {
  font-weight: 300;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #dd4b39; /*#1e282c;*/
}

.nav-tabs-custom > .nav-tabs > li:hover {
  border-top-color: #dd4b39; /*#3c8dbc;*/
}

.nav-tabs-custom > .nav-tabs > li > a:hover {
  color: #444;
}
